body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#start-page div {
    display: flex;
    height:100vh;
    flex-direction:column;
    justify-content: center;
}

#game-page {
    height:100vh;
}

#game-page {
    display: none;
}

.modal1 {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    padding: 10px 20px;
}

#playAgain {
    flex-direction: column;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;

}

#playAgain h2 {
    text-align: center;
    padding-top: 20px;
    
}

#playAgain h3 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 0;
}

.playing-card {
    width: 120px;
    height: 160px;
    border:solid 1px black;
    background:white;
    margin:5px;
    padding:10px;
    text-align: center;
}

.cards {
    display:flex;
    font-size:25px;
    font-weight:bold;
}

#score-board {
    margin-bottom:50px;
}

.card-hidden {
    background-color: black;
}

.final-score {
    display: flex;
    justify-content: center;
}

.score-divider {
    margin-left:15px;
    margin-right:15px;
}

#game-page .container {
    flex-wrap: wrap;
}