body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.start-page {
    text-align: center;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#game-page {
    display: none;
}




.modal1 {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    padding: 10px 20px;
}
#playAgain {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;

}

#playAgain h2 {
    text-align: center;
    padding-top: 90px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 0;
}

.playing-card {
    width: 120px;
    height: 160px;
    border:solid 1px black;
    background:white;
    margin:5px;
    padding:10px;
    text-align: center;
}

.cards {
    display:flex;
}

#current-score {
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 7px 13px 5px #4a4a4a;
    position: fixed;
    max-width: 600px;
    height: 175px;
    
}

#current-score ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
    justify-items: center;
    padding: 0 50px 0 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}

#score-board {
    border: 2px solid black;
    box-shadow: 7px 13px 5px #4a4a4a;
    border-radius: 15px;
    position: fixed;
    width: auto;
    height: 175px;
    top: 100px;
    right: 100px;
}

#score-board ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 25px;
    padding-right: 100px;
    font-size: 24px;
    font-weight: bold;
    
}